In [2]:
# import dependenncies
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
# import csv files

In [3]:
mobile_file = "Resources/mobile_social_media.csv"

# Read our Kickstarter data into pandas
mobile_df = pd.read_csv(mobile_file)
mobile_df.head()

,Date,Facebook,Pinterest,Twitter,Instagram,StumbleUpon,YouTube,reddit,Tumblr,LinkedIn,Google+,Fark,Digg,NowPublic,news.ycombinator.com,Other
0,2009-04,18.27,0.0,23.64,0.0,0.94,0.0,20.60,0.0,0.00,0.0,0.86,15.51,0.06,0.58,19.53
1,2009-05,19.29,0.0,37.61,0.0,1.95,0.0,15.07,0.0,0.48,0.0,1.58,12.56,0.08,1.00,10.38
2,2009-06,19.32,0.0,35.45,0.0,0.97,0.0,21.03,0.0,0.61,0.0,2.21,13.37,0.10,0.58,6.36
3,2009-07,24.80,0.0,31.96,0.0,1.69,0.0,15.90,0.0,0.58,0.0,0.87,16.26,0.12,0.84,6.96
4,2009-08,31.70,0.0,28.85,0.0,0.88,0.0,21.50,0.0,0.61,0.0,1.19,9.63,0.17,0.37,5.10

In [ ]:
all_plat_file = "Resources/all_platforms.csv"

# Read our Kickstarter data into pandas
mobile_df = pd.read_csv(mobile_file)
mobile_df.head()